html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}
.conteiner{
    width: 1100px;
    margin: 0 auto;
}
.head-big-content{
  position: fixed;
  z-index: 5;
  width: 1100px;
  padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}
.head-logo {
  display: flex;
}
.head-links{
display: flex;
text-decoration: none;
color: #000000;
}
.head-contents {
display: flex;
}
.head-text {
  margin-right: 25px;
}
.head-link {
  margin: 0%;
  padding: 13px 28px 13px 28px;
  text-decoration: none;
  color: #000000;
  border: 1px solid;
}
.hero-section {
  padding-top: 90px;
background-color: #2D2641;
position: relative;
}
.hero-article {
display: flex;
position: relative;
}
.hero-content {
width: 540px;
color: #fff;
margin-top: 169px;
margin-bottom: 215px;
margin-left: 20px;
}
.hero-title {
margin-bottom: 16px;
position: relative;
}
.hero-title::before{
content: "";
position: absolute;
width: 150px;
height: 1px;
background-color: #fff;
bottom: 63px;
}
.hero-text {
margin-bottom: 30px;
}
.hero-link {
text-decoration: none;
padding: 13px 28px 13px 28px;
border: 1px solid;
color: #fff;
}
.bitmap-img {
top: 105px;
position: absolute;
left: 650px;
}
.hero-content::before{
content: url(../imges/before.svg);
position: absolute;
top: 414px;
right: 1150px;
}
.hero-content::after{
content: url(../imges/before.svg);
position: absolute;
top: 100px;
left: 640px;
}



.item-section {
margin-top: 370px;
margin-bottom: 158px;
}
.item-title {
margin-bottom: 90px;
font-size: 50px;
position: relative;
}
.item-title::before{
content: "";
position: absolute;
width: 150px;
height: 1px;
background-color: #000000;
bottom: 63px;
}
.item-cards {
display: flex;
list-style: none;
justify-content: space-between;

}
.item-card {
width: 350px;
margin-right: 30px;
}
.article-table {
background-color: #2D2641;
}
.div-table {
display: flex;
justify-content: space-between;
align-items: center;
margin: 69px 80px 69px 81px;
color: #fff;
}
.table-title {
width: 475px;
font-size: 56px;
}
.teble-link {
color: #fff;
text-decoration: none;
padding: 13px 24px 13px 24px;
border: 1px solid;
}
.footer-article {
justify-content: space-between;
margin-bottom: 30px;
}
.logo-content {
display: flex;
margin-left: 30px;
}
.messengers-logo {
display: flex;
margin-left: auto;
margin-right: 20px;
}
.messenger-link {
margin-right: 20px;
}
.footer-card{
width: 200px;
margin-right: 30px;
}
.foter-cards {
display: flex;
list-style: none;
justify-content: space-between;
}
.card-title {
margin-bottom: 36px;
color: #837D88;
}
.footer-card-link{
text-decoration: none;
color: #000000;
}
.footer-big-article{
background-color: #FAFAFA;
}
